<<<<<<< current
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>League Skill Lookup</title>
</head>
<body>

    {{{body}}}

</body>
=======
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>League Skill Lookup</title>
</head>
<body>

    {{{body}}}

</body>
>>>>>>> before discard
</html>